{% extends 'layout.html' %}
{% block body %}

<!-- REGISTRATION FORM -->
<div class="container">
    <div class="text-center" style="padding:50px 0">
        <div class="logo">Edite propiedad</div>
        <!-- Main Form -->
        <div class="login-form-1">
            <form id="register-form" class="text-left" method="POST" action = "/updateP/{{property.0}}"  onsubmit="return validaaddProperty();">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <label for="cityP" class="sr-only"></label>
                            <input type="text" class="form-control" id="cityP" value="{{property.1}}" name="cityP" placeholder="Ciudad">
                        </div>
                        <div class="form-group">
                            <label for="countryP" class="sr-only"></label>
                            <input type="text" class="form-control" value="{{property.2}}" id="countryP" name="countryP" placeholder="País">
                        </div>
                        <div class="form-group">
                            <label for="adressP" class="sr-only"></label>
                            <input type="text" class="form-control" value="{{property.3}}" id="adressP" name="adressP" placeholder="Dirección">
                        </div>
                        <div class="form-group">
                            <label for="ubication" class="sr-only"></label>
                            <input type="text" class="form-control" value="{{property.4}}" id="ubication" name="ubication" placeholder="Ubicación en Google Maps">
                        </div>
                        <div class="form-group">
                            <label for="roomNumber" class="sr-only"></label>
                            <input type="number" class="form-control" value="{{property.5}}" id="roomNumber" name="roomNumber" placeholder="Numero de habitaciones">
                        </div> <br>
                        <div class="form-group">
                            <label for="imageP" class="sr-only">Cargue sus imagenes aquí</label>
                            <input type="file" class="form-control" id="imageP" value="{{property.6}}" name="imageP" placeholder="Cargue sus imagenes aquí">
                        </div> <br>
                        <div class="form-group">
                            <label for="imageMain" class="sr-only">Cargue la imágen destacada</label>
                            <input type="file" class="form-control" id="imageMain" name="imageMain" placeholder="Cargue sus imagenes aquí">
                        </div> <br>
                        <div class="form-group">
                            <label for="priceDay" class="sr-only"></label>
                            <input type="number" class="form-control" value="{{property.7}}" id="priceDay" name="priceDay" placeholder="Valor por noche">
                        </div> <br>
                        <div class="form-group">
                            <label for="Description" class="sr-only">Ingrese la descripción de la propiedad</label>
                        
                            <input type="text" name="Description" spellcheck="true" value="{{property.8}}" id="Description" type="text" class="form-control" cols="30" rows="10">
                        
                        </div>
                    </div>
                    <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                 </div>
            </form>
        </div>
        <!-- end:Main Form -->
    </div>
</div>

{% endblock %}