 {% extends 'layout.html' %}
{% block body %}

    <!-- <img src="{{url_for('static', filename='img/turismo1.jpg')}}" width="1350" height="700" alt=""> -->
    <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{url_for('static', filename='img/turismo1.jpg')}}" class="d-block w-100 " height="520" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static', filename='img/turismo2.png')}}" class="d-block w-100" height="520" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static', filename='img/turismo3.jpg')}}" class="d-block w-100" height="520" alt="...">
          </div>
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> 
    
    <section>
      <div class="container fluid mt-3 mb-3" >
        <div class="row mt-3">
          {% for property in propertyp %}
            <div class="col-12 col-md-4">
                <div class="card mt-2 border-light" style="width: 22rem; height:30rem" id="cardproperty" style="width: 18rem;">
                  <img src="{{url_for('static', filename='img/casacampo.jpg')}}" alt="...">
                  <div class="card-body bg-light">
                    <div class="card-text">
                      <strong>Descripción: </strong> {{property[8]}} <br>
                      <strong>Ubicación: </strong> {{property[1]}}-{{property[2]}} <br>
                      <strong>Dirección: </strong> {{property[3]}} <br>
                      <strong>Numero de habitaciones: </strong> {{property[5]}} <br>
                      <strong>Valor por noche: </strong> {{property[7]}} <br>
                      <a href="{{property[4]}}"><strong class="text" style="color:blue";>Ubicación google maps</strong></a>
                      <!-- <strong>Ubicación Maps: </strong> {{property[4]}} -->
                    </div>
                  </div>
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    









{% endblock %}8.